body {
	font-family:'Quicksand', sand-serif;
	margin : 0px; 
	padding: 0px;
}

h2, h3 {
	color: mediumturquoise;
}



footer {
	padding: 20px;
	color: green;
	background-color: mediumturquoise;
	text-align: center;
	font-weight: bold;
	
}

nav a {
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
}

nav a:hover {
	font-weight: bold;
}

.profile header {
	text-align: center;
}

.featured.image {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	object-position: center;
}

.profile img {
	width: 200px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}


.jumbotron {
	font-size:  20px;
	padding: 40px;
	background-color: green;
	text-align: center;
	color: yellow;
}

nav li {
	display: inline;
	list-style: bold;
	margin-right: 20px;
	text-align: center;
}

ul  li {
	display : inline-table;
	padding: 15px;
	

}
 ul li ul  {
		display: none;
		
	
	{

nav {
	background-color: mediumslateblue  ;
	padding: 20px;
	position: sticky;
	top: 0;
}





	

@media screen and (max-width: 1000px) {
	#content,
	aside {
		width: 100%;
		padding: 0;
		float: right;

	}
}

header {
	display: inline;
	}